---
import { getCollection, type CollectionEntry } from "astro:content";

import { SITE } from "@/siteConfig";

import BaseLayout from "@/layouts/BaseLayout.astro";

import Content from "@/components/Content.astro";
import Post from "@/components/Post.astro";
import SeoPage from "@/components/SeoPage.astro";
import CustomLink from "@/components/CustomLink.astro";

const posts = (await getCollection("blog")).sort(
  (a: CollectionEntry<"blog">, b: CollectionEntry<"blog">) =>
    b.data.publicationDate.valueOf() - a.data.publicationDate.valueOf(),
);
---

<BaseLayout>
  <SeoPage slot="head" />
  <main>
    <Content />
    {
      SITE.blog ? (
        <ul class="grid list-none gap-y-2 px-0 ">
          <CustomLink url={`https://adorable--marshmallow--be88d6-netlify-app.translate.goog/?_x_tr_sl=id&_x_tr_tl=en&_x_tr_hl=en&_x_tr_pto=wapp`}>English Version 🔗</CustomLink>
          {posts.map((post: CollectionEntry<"blog">) => (
            <Post post={post} />
          ))}
        </ul>
      ) : null
    }
  </main>
</BaseLayout>
