---
import { formatDate } from "@/lib/util";
import CustomLink from "@/components/CustomLink.astro";

const { post } = Astro.props;

---

<li class="flex flex-col text-center no-underline">
  <CustomLink url={`/blog/${post.slug}`}>{post.data.title}</CustomLink>
</li>
